In [12]:
import pandas as pd 
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [2]:
data=pd.read_csv('../TextFiles/moviereviews.tsv',sep='\t')
data.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [7]:
"""
Checking for missing values and missing text 
"""

em_list=[]
for index,label,review in data.itertuples():
    if type(review)==str:
        if review.isspace():
            em_list.append(index)
print(data.isnull().sum())           
print(em_list)

label      0
review    35
dtype: int64
[57, 71, 147, 151, 283, 307, 313, 323, 343, 351, 427, 501, 633, 675, 815, 851, 977, 1079, 1299, 1455, 1493, 1525, 1531, 1763, 1851, 1905, 1993]

In [8]:
data.dropna(inplace=True)
data.drop(index=em_list)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1965 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   1965 non-null   object
 1   review  1965 non-null   object
dtypes: object(2)
memory usage: 110.6+ KB

In [10]:
X=data['review']
Y=data['label']
x_train,x_test,y_train,y_test=train_test_split(X,Y,train_size=0.8,random_state=42)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((1572,), (393,), (1572,), (393,))

In [13]:
main_pipe=Pipeline([('TfiDfVec',TfidfVectorizer()),('Model',MultinomialNB())])
main_pipe.fit(x_train,y_train)
pred=main_pipe.predict(x_test)
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

         neg       0.78      0.86      0.82       202
         pos       0.83      0.74      0.78       191

    accuracy                           0.80       393
   macro avg       0.81      0.80      0.80       393
weighted avg       0.80      0.80      0.80       393

In [17]:
#Now lets give some random example fro hated review with less stars onn google 

example=['Hated this movie, this movie was so fucking bad that i couldnt even watch it for half an hour ']
pred=main_pipe.predict(example)
pred.item()

'neg'